@import "_normalize";
@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint";
@import "../../bower_components/susy/sass/susy";
@import "variables";
@import "mixins";
@import "extends";
@import "tables";

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

.container {
  @include container(80em);
  width: 100%;
}

.input-hidden {
  .input-label {
    display: none !important;
  }
}

@import "grid";