.checkbox {
  label .box {
    width: 15px;
    height: 15px;
    background-color: red;
  }

  input:checked + label .box {
    background-color: blue;
  }
}

.radio {
  label .box {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: red;
  }

  input:checked + label .box {
    background-color: blue;
  }
}

.styled-select {
  border: 1px solid black;
  .arrow {
    line-height: 50px;
    text-align: center;
    font-size: 17px;
  }
  select {
    vertical-align: middle;
    border-radius: 3px;
  }
}

.radio-tab {
  & + & {
    margin-left: 5px;
  }
  label {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid black;
  }
  input:checked + label {
    background-color: black;
    color: white;
  }
}

.validation.invalid {
  color: red;
}

.input, .select, .switch-container {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.alerts {
  margin-bottom: 1em;
  &:empty {
    display: none;
  }
}

.alert {
  position: relative;
  padding: 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  .close {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: transparent;
    border: 0;
  }
  h3 {
    margin: 0 0 4px;
  }
  p {
    margin: 0;
  }
  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.Guide-markup {
  font-family: "Source Code Pro", monospace;
  background-color: #272822;
  color: white;
  padding: 5px;
  tab-size: 2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.hljs-tag {
  white-space: initial;
  color: #E3E3FF;
}

.hljs-attribute {
  color: #A6E22E;
}

.hljs-value {
  color: #E6DB74;
}

.Guide-heading, .Guide-example, .Guide-expanderSection button {
  padding: 5px
}

.Guide-heading {
  margin: 0;
  background-color: white;
  a {
    color: #333;
    text-decoration: none;
    &:hover:after {
      content: '#';
      color: #bbb;
      font-size: 20px;
    }
  }
}

.Guide {
  border: 1px solid #bbb;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.Guide-expanderSection {
  button {
    text-align: right;
    border: 0;
    background: white;
    text-transform: uppercase;
    font-size: 14px;
    color: darkblue;
    width: 100%;
    outline: 0;
  }
}
